

h1 {
    text-align: center;
    color: #E676BD;
    font-family: monospace;
    font-size: 400%;
    border:none;
}
hr {
    height: 2px;
    background-color: #E676BD;
    border: none;
    width: 90%;
}

img{
    width: 800px;
}
.image{
    display: flex;
    margin: 20px;
}
body {background-color: #EAC9EE;}
h4{
    color: #E676BD;
}
ul{
    color: #E676BD;
}
.icon {
    width: 15%;
}
.header {
    display: flex;
}
a{
    width: 45%;
}