.center {
    font-size: 350%;
    color: #BF9191;
    text-align: center;
    font-family: Monospace;

}
a{
    width: 40%;
}


body{
    background-color:#DCB9B9;
}

.image {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
    .icon {
        width: 17%;
    }
hr {
    height: 2px;
    background-color: #BF9191;
    border: none;
    width: 90%;
}
.header {
    display: flex;

}

