.button {
    border: 20px;
    color: white;
    width: 400px;
    height: 120px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 20px;
    cursor: pointer;
    background-color:#a6c0aa;
}

.text {
    text-align:center ;
    font-family: monospace;
}

h2 {
    text-align: center;
    margin-top: 60px;
    font-family: monospace;
}
.buttons{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
}

.icon {
    width: 15%;
}
a{
    width: 25%;
}