.center {
    text-align: center;
    align-items: center;
    font-family: Monospace;
}
body{
    background-color:#D2ACE5;
}
h1{
    font-family: monospace;
    font-size: 350%;
    color: #B756E8;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.mitte {
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 60px;
}
p{
    font-size: 160%;
    color: #B756E8;
}
button{
    width: 100%;
    height: 100%;
    background-color:#B756E8;
    font-family: Monospace;
}

