
.center {
    text-align: center;
    align-items: center;

}
body{
    background-color:#B793A4;
}
h1{
    font-family: monospace;
    font-size: 290%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.mitte {
    width: 100%;
   display:flex;
    justify-content: center;
}
p{
    font-size: 130%;
}
.button{
    width: 50%;
    
}